#text-large {
    font-weight: bold;
    font-size: 12vw;
}

#text-medium {
    font-weight: bold;
    font-size: 5vw;
}

#text-small {
    font-weight: bold;
    font-size: 1.7vw;
}

#text-small-normal {
    font-size: 1.7vw;
}


@media screen and (max-width: 400px) {
    #text-large {
        font-weight: bold;
        font-size: 80px;
    }

    #text-medium {
        font-weight: bold;
        font-size: 45px;
    }

    #text-small {
        font-weight: bold;
        font-size: 25px;
    }

    #text-small-normal {
        font-size: 15px;
    }

}


.align-container {
    position: relative;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
